  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


  $bg_color : #F9F0EB;
  $link_hover_color : #DE8211;



  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  html,
  body {

      overflow-x: hidden;
      // overflow: none;

  }

  body {
      font-family: 'Poppins', sans-serif;
      
  }

  .container {
      padding: 0 50px;
  }

  .flex {
      display: flex;
  }


  .justify_center {
      justify-content: center;
  }

  .justify_space_bw {
      justify-content: space-between;
  }

  .item_center {
      align-items: center;
  }

  .Color_Blue {
      color: #50B2E4;
  }

  .Color_Red {
      color: #DE8211;
  }

  .Show_Btn {
      margin: 20px 0;
      padding: 5px 15px;
      background-color: #1E5558;
      color: white;
      transition: transform 0.3s ease-in;

      &:active {
          transform: scale(0.7);
      }
  }

  .dragging {
      scroll-behavior: auto;
      scroll-snap-type: none;
      cursor: grab;
      user-select: none;

  }

  .no-animation {

      scroll-behavior: auto;

  }

  //Animation Section for the Promotion Section Start

  .movePromoImg_animation {
      animation: movePromoImge 2s ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

  }

  @keyframes movePromoImge {

      0% {
          transform: translateX(300px);

          // transform: rotate(45deg);
      }

      100% {
          transform: translateX(0);
          // transform: rotate(90deg);
      }

  }


  .movePromoText_animation {
      animation: movePromoText 1s ease-in;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      // animation-delay: 0.1s;

  }

  @keyframes movePromoText {

      0% {
          transform: translateX(-300px);

          // transform: rotate(45deg);
      }

      100% {
          transform: translateX(0);
          // transform: rotate(90deg);
      }

  }


  //Animation Section for the Promotion Section end

  .star_Color {
      color: #DE8211;
      ;
  }

  .red_Hear {
      color: red;
  }

  .active_tab {
      border-bottom: 1px solid #DE8211;
  }

  .hide_tab {
      display: none;
  }


  //Header Section Start
  #header {
      background-color: $bg_color;
      position: relative;
      //   height: 700px;

      // navigation bar css start
      #header_bar {

          #logo {
              h1 {
                  font-size: 1.2rem;
                  font-weight: 900;

                  &:hover {
                      color: $link_hover_color;
                  }
              }
          }


          #nav_bar {
              flex-direction: row-reverse;
              gap: 30px;

              //   Hamburg Icon start

              .hamburg_cont {
                  display: inline-block;
                  cursor: pointer;
              }

              .bar1,
              .bar2,
              .bar3 {
                  width: 35px;
                  height: 5px;
                  background-color: #000000;
                  margin: 6px 0;
                  transition: 0.6s;
              }

              .change .bar1 {
                  transform: translate(0, 11px) rotate(-45deg);
              }

              .change .bar2 {
                  opacity: 0;
              }

              .change .bar3 {
                  transform: translate(0, -11px) rotate(45deg);
              }

              .change~ul {
                  right: 0;
                  width: 100%;
                  height: 100%;
              }

              //   Hamburg Icon End


              ul {

                  flex-direction: column;
                  justify-content: start;
                  align-items: center;
                  position: fixed;
                  top: 38px;
                  right: -300px;
                  background-color: $bg_color;



                  li {
                      list-style: none;
                      padding: 20px 0;

                      &:hover {
                          cursor: pointer;

                      }

                      a {
                          text-decoration: none;
                          font-size: 1rem;
                          font-weight: 600;
                          cursor: pointer;

                          &:hover {
                              color: $link_hover_color;
                              border-bottom: 1px solid $link_hover_color;
                          }
                      }
                  }
              }

              .search_bar {
                  display: none;

                  input {
                      padding: 10px 15px;
                      border: none;

                      &:focus {
                          outline: none;
                      }
                  }

              }

              .liker {

                  .liker_span {

                      //   margin: 0 10px;
                      padding: 0 10px;

                      &:hover {
                          color: $link_hover_color;
                      }

                  }

                  #heart_span {
                      border-right: 1px solid red;


                  }

                  #cart_span {
                      border-right: 1px solid red;
                      border-left: 1px solid red;

                  }

                  #user_span {
                      border-left: 1px solid red;
                  }



              }


          }
      }

      // navigation bar css end

      // Home Section start
      #home {
          flex-direction: column;
          justify-content: center;

          .home_img_slide {
              display: none;
          }

          #home_img_holder {
              min-width: 355px;
              min-height: 360px;
              //   border: 1px solid red;

              .img_size {
                  width: 100%;
                  height: 100%;
              }
          }

          #home_text_holder {
              flex-direction: column;
              justify-content: center;
              text-align: center;
              min-width: 355px;
              min-height: 360px;
              //   border: 1px solid yellow;

              .home_text_slide {

                  margin-bottom: 20px;

                  h1 {

                      font-size: 64px;
                      font-weight: 600;
                      line-height: 80px;
                      color: #1E5558;
                  }

                  p {
                      font-size: 1rem;
                      font-weight: 400;
                      line-height: 26px;
                  }
              }



              .btn {

                  width: 180px;
                  height: 55px;
                  //   border: 1px solid;
                  padding: 5px 20px;
                  font-size: 1rem;
                  background-color: #1E5558;
                  color: white;
                  margin: 0 auto;
                  margin-bottom: 60px;
                  cursor: pointer;
                  transition: transform 0.3s ease-in;

                  &:active {
                      transform: scale(0.7);
                  }

                  p {
                      padding: 0 20px;
                  }

                  .btn_arrow_div {

                      width: 30px;
                      height: 30px;
                      // border: 1px solid;
                      border-radius: 50%;
                      background-color: $link_hover_color;
                  }
              }

              #slider_btn {
                  justify-content: center;
                  align-items: center;
                  font-size: 1.5rem;
                  z-index: 1;

                  margin: 20px 0;

                  .circle {
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      background-color: $link_hover_color;
                      transition: all 0.9s ease-in-out;



                  }

                  .moveLeft.circle {
                      z-index: 2;
                      transform: translateX(-40px);
                  }

                  .moveRight.circle {
                      z-index: 2;
                      transform: translateX(40px);
                  }

                  i {
                      z-index: 3;
                  }



              }

          }

      }

      // Home Section end



  }

  //Header Section End

  //After Header Section start
  #after_header {

      .after_header_cont {
          flex-direction: column;
          justify-content: start;
          align-items: center;

          .after_H_Items {
              margin: 30px 0;

              .after_H_Text_Pad {
                  padding: 0 20px;

                  h2 {
                      font-size: 1rem;
                      font-weight: 600;
                  }

                  p {
                      font-size: 1rem;
                      font-weight: 500;
                      opacity: 50%;
                  }
              }
          }
      }

  }

  //After Header Section End

  //Trending Product Section Start
  #Trending_Product {

      .Trending_Prod_cont {

          flex-direction: column;
          margin: 30px 0;

          .Trending_prod_Heading_cont {
              text-align: center;

              h1 {
                  font-size: 33px;
                  font-weight: 600;
              }

              p {
                  font-size: 1rem;
                  font-weight: 400;
                  padding: 15px 10px;
              }

          }

          .Trending_Prod_Card_Cont {

              flex-direction: column;
              gap: 20px;

              .row_flex_cont {

                  flex-direction: column;
                  gap: 20px;

              }


              .card {

                  min-width: 300px;
                  //   min-height: 440px;
                  background-color: #FBE8E9;
                  text-align: center;


                  .card_img {
                      padding: 15px 0;
                  }

                  .card_Text {

                      .card_text_head {
                          font-size: 22px;
                          font-weight: 500;
                          padding: 5px 0;
                      }

                      .card_text_name {
                          font-size: 1rem;
                          font-weight: 500;
                          padding: 5px 0;
                      }

                      .card_text_Price {
                          font-size: 22px;
                          font-weight: 700;
                          padding: 5px 0;
                      }

                      .card_text_oldPrice {
                          font-size: 1rem;
                          font-weight: 500;
                          padding: 5px 0;
                          padding-left: 30px;
                      }

                  }

              }


          }


      }
  }


  //Trending Product Section End


  //Shop By Category Section start

  #shopby_category {

      .shopby_cat_Cont {
          flex-direction: column;
          text-align: center;

          margin: 30px 0;
      }

      .shopby_cat_slider {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .shopby_cat_slider_cont {

              gap: 10px;
              max-width: 1100px;
              width: 100%;

              overflow-x: auto;
              scroll-snap-type: x mandatory;
              scroll-behavior: smooth;
              scrollbar-width: 0;

              &::-webkit-scrollbar {
                  display: none;
              }

              .category {
                  // overflow-x: hidden;
                  // max-width: 300px;
                  background-color: #F2F2F2;
                  display: flex;
                  flex-direction: column;

                  flex: 1 0 100%;

                  scroll-snap-align: start;



                  img {
                      // padding: 100px 100px;
                      width: 100%;
                      height: 100%;
                  }


              }

          }

          .cat_slide_btn {
              // width: 100px;
              border-radius: 50%;
              background-color: white;
              width: 30px;
              height: 30px;
              border: none;
              box-shadow: 2px 1px 2px 2px rgb(172, 159, 159);
              transition: transform 0.3s ease-in;

              &:active {
                  transform: scale(0.7);
              }
          }

          #slide_left {
              position: absolute;
              left: 0;
          }

          #slide_right {
              position: absolute;
              right: 0;
          }

      }

  }

  //Shop By Category Section End


  // Promotion section start 

  #promotion {
      .promotion_cont {
          flex-direction: column;
          background-color: #657690;
          gap: 30px;



          .promo_text_cont {
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              color: white;

              .price_Ribbon {
                  position: relative;
                  width: 100px;
                  height: 30px;
                  background-color: #DE8211;
                  text-align: center;
                  line-height: 30px;
                  border: none;

                  &::after {
                      content: "";
                      position: absolute;

                      border: 15.2px solid #DE8211; //border should be half of the total height
                      right: -25px;
                      border-right-color: transparent;
                  }
              }

          }
      }
  }

  // Promotion section End


  // Best Seller of the Year Section Start

  #bestSeller {
      .bestSeller_cont {
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .bestSeller_img_cont {

              display: flex;

              .imgText_cont {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 15px;
                  //   transform: rotate(-90deg);

                  .divLine {
                      width: 5px;
                      height: 50px;
                      background-color: #000000;
                  }

                  p {

                      writing-mode: vertical-rl;

                      font-size: 24px;
                      transform: rotate(180deg);
                      //   letter-spacing: 10px
                  }


              }

              figure img {
                  max-width: 290px;
                  max-height: 400px;
              }
          }

          .bestSeller_text_cont {
              margin: 40px 10px;
              display: flex;
              flex-direction: column;
              gap: 20px;
              text-align: center;


              h3 {
                  span {
                      font-weight: normal;
                  }
              }


          }
      }
  }

  // Best Seller of the Year Section End



  //    New Arrival section Start 

  #new_Arrival {

      margin-bottom: 100px;

      .new_Arrival_Cont {

          flex-direction: column;

          .new_Arrival_Header_cont {
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .new_Arr_Tab {
                  gap: 25px;
                  margin: 18px 0;



                  .tabLink {

                      padding: 5px 10px;
                      font-size: 1rem;
                      font-weight: 500;
                      background: unset;
                      border: none;

                      cursor: pointer;
                      transition: 0.3s;

                      &:hover {
                          background-color: #ddd;
                          border-bottom: 1px solid #DE8211;
                      }


                  }
              }
          }

          .new_Arrival_Body_Cont {
              flex-direction: column;
              flex-wrap: wrap;
              gap: 20px;

              animation: Tab_fadeEffect 1s;

              @keyframes Tab_fadeEffect {
                  from {
                      opacity: 0;
                  }

                  to {
                      opacity: 1;
                  }
              }


              .special_New_Arrival_Card {

                  overflow-y: hidden;

                  //   height: 600px;
                  width: 340px;
                  //   border: 1px solid;

                  background-image: url('../img/Special_Arr_Card_bg.png');
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;

                  .special_New_Arr_Card_Text {

                      padding: 25px 45px;


                      p {
                          font-size: 1rem;
                          font-weight: 600;
                      }

                      hr {
                          width: 60px;
                          height: 2px;
                          background-color: #DE8211;
                      }

                      h2 {
                          font-size: 30px;
                          font-weight: 500;
                          margin: 25px 0;
                      }

                      h3 {
                          font-size: 20px;
                          font-weight: 600;
                          margin-bottom: 25px;

                          span {
                              font-size: 20px;
                              font-weight: 600;
                              color: #DE8211;
                          }
                      }

                      button {
                          background-color: transparent;
                          border: 2px solid;
                          color: black;
                      }

                  }

                  .special_New_Arr_Card_img {
                      text-align: center;
                      width: auto;
                      height: 218px;

                      img {
                          height: 100%;
                      }
                  }


              }

              .New_Arrival_Card_cont {
                  //   height: 600px;
                  //   width: 340px;
                  //   border: 1px solid;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  gap: 20px;
                  overflow-y: hidden;

                  padding: 10px;

                  .New_Arr_card_wrapper {

                      width: 240px;
                      height: 350px;
                      transition: 0.4s ease-in-out;


                      &:hover {
                          transform: translateY(-5px);
                          box-shadow: 1px 1px 3px -2px blue;

                      }



                      .New_Arr_card_Img {
                          background-color: #F3F3F3;
                          position: relative;
                          //   border: 1px solid;
                          height: 215px;


                          .tag_heart_cont {

                              span {
                                  font-size: 10px;
                                  width: 100px;
                                  height: 100px;
                                  //   border: 1px solid;
                                  position: absolute;
                                  top: -10px;
                                  left: -10px;

                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  overflow: hidden;


                                  &::before {
                                      content: "New Product";
                                      width: 140px;
                                      height: 30px;
                                      background-color: #1E5558;
                                      color: white;
                                      position: absolute;
                                      text-align: center;
                                      line-height: 30px;
                                      /* align vertically center to text by giving same value of height: 30px; */
                                      transform: rotate(-45deg) translateY(-15px);
                                      /* TranslateY = set half of height and give negative value height: 30px / 2 = 15 add (-) to give negative value */

                                  }

                                  &::after {
                                      content: "";
                                      height: 10px;
                                      width: 10px;
                                      background-color: #1c4a4d;
                                      position: absolute;
                                      bottom: 0;
                                      left: 0;
                                      box-shadow: 90px -90px #1c4a4d;
                                      /* give box shadow total width - ::after-width x-axix with positive and y-axix with negative 100- 10 = 90 */

                                  }

                              }

                              .heart_div {
                                  background-color: white;
                                  border-radius: 50%;
                                  width: 25px;
                                  text-align: center;
                                  height: 25px;
                                  position: absolute;
                                  line-height: 25px;
                                  top: 10px;
                                  right: 10px;

                                  user-select: none;
                                  cursor: pointer;

                                  .heart {
                                      line-height: 25px;

                                  }

                              }


                          }

                          .c_img {
                              padding-top: 55px;
                              text-align: center;
                          }

                      }

                      .New_Arr_card_Text {
                          display: flex;
                          flex-direction: column;
                          gap: 10px;
                          justify-content: left;
                          align-items: flex-start;
                          padding: 10px;



                          .star_Cont {
                              user-select: none;


                              .stars {
                                  // color: yellow;
                                  font-size: 20px;
                                  cursor: pointer;
                              }
                          }



                          h2 {
                              font-size: 14px;
                              font-weight: 600;
                          }

                          h3 {
                              color: #DE8211;
                              font-size: 12px;

                              span {
                                  padding-left: 20px;
                                  font-size: 12px;
                                  font-weight: 500;
                                  opacity: 50%;
                              }
                          }

                          h4 {
                              color: #DE8211;
                              font-size: 12px;
                              user-select: none;
                              cursor: pointer;

                              span {
                                  padding-left: 20px;
                                  color: #000000;

                              }
                          }
                      }
                  }

              }
          }

      }



  }

  //    New Arrival section End 


  // Promotion 2 section Start 

  #promtion2 {

      .promotion2_cont {

          min-height: 270px;
          background-color: #1E5558;
          position: relative;

          flex-direction: column;
          gap: 30px;

          &::before {
              content: "";
              position: absolute;
              left: 0;
              background-color: #DE8211;
              width: 50px;
              height: 100%;
          }

          .promo2_text_cont {
              padding: 20px 20px 20px 60px;
              color: white;

              h1 {
                  font-size: 32px;
                  font-weight: 700;

                  span {
                      font-size: 32px;
                      font-weight: 300;
                  }
              }

              button {
                  color: white;
                  border: none;
                  border-bottom: 1px solid #DE8211;
                  background-color: transparent;
                  padding-bottom: 5px;
              }
          }

          .promo2_img_cont {

              padding: 20px 20px 20px 60px;

              img {
                  width: 100%;
                  height: 100%;
              }
          }
      }

  }

  // Promotion 2 section End 


  //Blog section Start

  #blog {

      padding: 50px 0;

      .blog_cont {

          .blog_header_cont {

              flex-direction: column;
              text-align: center;
              padding: 20 50px;
              gap: 30px;

          }

          .blog_card_wrapper {

              padding: 20px 0;
              //   flex-direction: column;

              flex-wrap: wrap;
              gap: 20px;


              .blog_card {

                  box-shadow: 1px 1px 15px -9px gray;

                  max-width: 375px;

                  transition: transform 0.4s ease-in-out;

                  &:hover {
                      transform: translateY(-5px);
                  }

                  .blog_card_img {

                      position: relative;

                      .blog_calender {
                          width: 60px;
                          height: 60px;
                          text-align: center;
                          background-color: white;
                          position: absolute;
                          top: 20px;
                          left: 20px;

                          h4 {
                              line-height: 30px;
                          }

                          hr {
                              line-height: 30px;
                              width: 40px;
                              margin: auto;
                          }
                      }

                      img {


                          width: 100%;
                          height: 100%;
                      }


                  }

                  .blog_card_text {
                      padding: 10px 20px;

                      h4 {
                          color: #DE8211;
                          padding: 10px 0;
                      }

                      h3 {
                          padding: 10px 0;
                      }

                      hr {
                          opacity: 0.6;
                      }

                      p {
                          opacity: 0.5;
                          padding: 20px 0;

                      }

                      button {
                          border: none;
                          background-color: transparent;
                          padding: 10px 0;

                      }

                  }
              }
          }
      }
  }

  //Blog section End


  //Footer section Start

  #footer {

    background-color: #1E5558;
     color: white;

    .footer_cont{

        .footer_top_cont {

            flex-direction: column;

            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            padding: 50px 10px;
  
            .footer_logo_col {
                text-align: center;

                // padding: 15px 10px;

                flex: 1 1 25%;
                h1 {
                    font-size: 1.2rem;
                    font-weight: 900;
                    padding-bottom: 15px;
                }

                p{
                    text-align: justify;
                    // padding-right: 130px;
                }
  
            }
  
            .footer_prod_col {

                flex: 0 0 22%;

                ul{
                    li{
                        list-style: none;
                        padding: 5px 0;

                        &:nth-child(1){
                            font-size: 18px;
                            font-weight: 700;
                            padding-bottom: 25px;
                        }

                        &:hover{
                            color: #DE8211;
                        }
                    }

                    
                }

            }
  
            .footer_page_col {
                
                flex: 0 0 22%;

                ul{
                    li{
                        list-style: none;
                        padding: 5px 0;

                        &:nth-child(1){
                            font-size: 18px;
                            font-weight: 700;
                            padding-bottom: 25px;
                        }

                        &:hover{
                            color: #DE8211;
                        }
                    }

                    
                }
            }
  
            .footer_social_col {
                text-align: center;
                flex: 0 0 22%;
                

                span{

                   i{
                    padding: 0 10px;
                    font-size: 1rem;

                    &:hover{
                        color: #DE8211;
                    }

                   }

                }

                .footer_search{

                    padding-top: 15px;

                    #footer_search_input{
                        height: 40px;
                        width: 220px;
                        padding: 5px 10px;

                    }

                    .footer_Search_Btn_Cont{
                        width: 40px;
                        height: 40px;
                        background-color: #DE8211;
                        text-align: center;
                        line-height: 20px;

                        i{

                            color: white;
                            line-height: 40px;
                            
                        }

                    }
                }
            }
  
        }

        .footer_bottom_cont{
            padding-bottom: 20px;

            .footer_bot_text_cont{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 20px;
            }

        }

    }

      
  }


  //Footer section End


  //   @media screen and (min-width : 640px) {

  //     #header {
  //         background-color: orange;
  //     }


  //   }


  @media screen and (min-width : 768px) {

      // Nav Bar media query css start...
      #header #header_bar #nav_bar {

          flex-direction: row;

          .hamburg_cont {
              display: none;

          }

          ul {

              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 20px;
              position: static;
              //   top: 38px;
              //   right: -300px;
              background-color: transparent;

              li a {
                  color: #000000;
              }
          }


      }

      // Nav Bar media query css End...


      // After Home Section media queries Start...
      #after_header {

          .after_header_cont {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: center;
          }
      }

      // After Home Section media queries End...


      // Trending Product Section media queries Start...
      #Trending_Product {

          .Trending_Prod_cont {

              .Trending_Prod_Card_Cont {

                  flex-direction: row;
                  justify-content: center;
                  text-align: center;
                  flex-wrap: wrap;

                  .row_flex_cont {

                      flex-direction: row;
                      justify-content: center;
                      text-align: center;
                      flex-wrap: wrap;

                  }


              }
          }
      }


      // Trending Product Section media queries End...


      // Shoping by Category Section media queries start...


      #shopby_category .shopby_cat_slider .shopby_cat_slider_cont .category {
          // background-color: #F2F2F2;
          // display: flex;
          // flex-direction: column;
          flex: 1 0 calc((100%) / 2);
      }


      // Shoping by Category Section media queries end...


      // Promotion section start 

      #promotion {
          .promotion_cont {
              flex-direction: row-reverse;
              justify-content: space-between;

              .promo_text_cont {
                  //   flex-direction: column;
                  //  justify-content: start;
                  align-items: start;
                  //  text-align: left;
                  //   color: white;


              }
          }
      }

      // Promotion section End


      // Best Seller of the Year Section Start

      #bestSeller {
          .bestSeller_cont {
              position: relative;

              &::before {
                  content: "chair";
                  //   border: 1px solid orange;
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;

                  //   z-index: -1;
                  // transform: rotate(300deg);
                  // -webkit-transform: rotate(300deg);
                  color: #c6afaf;
                  font-size: 120px;
                  text-align: center;
                  letter-spacing: 30px;

                  writing-mode: vertical-rl;
                  transform: rotate(180deg);
                  opacity: 0.5;
              }
          }
      }

      // Best Seller of the Year Section End



      // New Arrival Start
      #new_Arrival {



          .new_Arrival_Cont {

              .new_Arrival_Header_cont {
                  flex-direction: row;
                  justify-content: space-between;
                  width: 100%;
              }

              .new_Arrival_Body_Cont {
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: start;



                  //   .special_New_Arrival_Card {


                  // }

                  .New_Arrival_Card_cont {
                      flex: 1 0 45%;


                      flex-direction: row;
                      flex-wrap: wrap;
                      padding-top: 10px;
                  }
              }
          }
      }

      // New Arrival End


      // Promotion 2 section Start 

      #promtion2 {

          .promotion2_cont {

              flex-direction: row;
              justify-content: space-between;

              .promo2_text_cont {
                  // padding: 20px 20px 20px 60px;
                  // color: white;

                  h1 {
                      font-size: 42px;
                      // font-weight: 700;

                      span {
                          font-size: 42px;
                          // font-weight: 300;
                      }
                  }


              }

          }

      }

      // Promotion 2 section End 


        //Footer section Start

  #footer {


    .footer_cont{

        .footer_top_cont {

            flex-direction: row;

            justify-content: space-between;
            
  
            .footer_logo_col {
                text-align: left;

                // padding: 15px 10px;

            

                p{
                    
                    padding-right: 30px;
                }
  
            }
  
            .footer_social_col {
                text-align: right;

            }
  
        }

        .footer_bottom_cont{
            padding-bottom: 20px;

            .footer_bot_text_cont{
                flex-direction: row;
                justify-content: space-between;
                
            }

        }

    }

      
  }


  //Footer section End



  }

  @media screen and (min-width : 1024px) {

      //display search bar on this screen
      #header #header_bar #nav_bar {
          .search_bar {
              display: block;
          }

      }

      //Home Section media queries start...
      #header #home {
          flex-direction: row-reverse;
          // justify-content: center;

          #home_img_holder {
              min-width: 600px;
              min-height: 600px;
          }

          .home_text_slide {
              text-align: left;

              h1 {
                  padding-right: 140px;
              }

              p {
                  padding-left: 20px;
                  padding-right: 100px;
                  border: 2px solid $link_hover_color;
                  border-top: none;
                  border-right: none;
                  border-bottom: none;
              }



          }
      }

      #header #home #home_text_holder .btn {

          margin: 20px 0;
      }

      #header #home #home_text_holder #slider_btn {
          justify-content: start;
          align-items: start;

      }

      //Home Section media queries End...

      // After Home Section media queries Start...
      #after_header {

          .after_header_cont {
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-between;

          }
      }

      // After Home Section media queries End...



      // Trending Product Section media queries Start...
      #Trending_Product {

          .Trending_Prod_cont {

              .Trending_Prod_Card_Cont {

                  .row_flex_cont {

                      // flex-direction: column;
                      // gap: 20px;
                      // max-width: 800px;
                      flex: 0 0 70%
                  }

                  // flex-direction: row;
                  // justify-content: center;
                  // text-align: center;
                  // flex-wrap: wrap;

                  .card {
                      .card_Text {
                          padding: 0 20px;
                          text-align: left;
                      }
                  }

                  #card1 {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      //   height: 360px;
                      flex: 2 1 auto;

                  }

                  #card2 {
                      // display: flex;
                      // align-items: center;
                      //   height: 360px;

                      flex: 1 1 auto;

                  }



                  #card3 {
                      display: flex;
                      flex-direction: column-reverse;
                      //   height: 300px;
                      flex: 1 1 auto;

                  }

                  #card4 {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      flex: 2 1 auto;

                  }

                  #card5 {
                      display: flex;
                      flex-direction: column-reverse;


                      .card_Text {
                          padding: 30px 20px;
                          // text-align: left;
                      }

                  }

              }
          }
      }


      // Trending Product Section media queries End...


      // Shoping by Category Section media queries start...

      #shopby_category .shopby_cat_Cont {
          flex-direction: row;
          // text-align: center;
          // margin: 30px 0;
      }

      #shopby_category .shopby_cat_slider .shopby_cat_slider_cont .category {
          // background-color: #F2F2F2;
          // display: flex;
          // flex-direction: column;
          flex: 1 0 calc((100%) / 3);
      }


      // Shoping by Category Section media queries end...



      // Best Seller of the Year Section Start

      #bestSeller {
          .bestSeller_cont {
              flex-direction: row;

              .bestSeller_img_cont {
                  flex: 0 0 50%;
                  justify-content: end;



                  figure img {

                      max-width: 100%;
                      max-height: 100%;
                  }
              }

              .bestSeller_text_cont {
                  justify-content: flex-start;
                  text-align: left;
                  flex: 0 0 50%;
              }
          }
      }

      // Best Seller of the Year Section End


      // Promotion 2 section Start 

      #promtion2 {

          .promotion2_cont {



              .promo2_text_cont {


                  h1 {
                      font-size: 52px;


                      span {
                          font-size: 52px;

                      }
                  }


              }

              .promo2_img_cont {

                  padding: 0 40px;

                  img {

                      margin-top: -70px;
                  }
              }
          }

      }

      // Promotion 2 section End 


      //Blog Section Start

      #blog {


          .blog_cont {

              .blog_header_cont {


                  padding: 0 200px;

              }
          }
      }


      //Blog Section End

  }